.carousel-indicators {
    margin-left: -9vw !important;
}

.carousel-indicators button{
    background-color:rgb(160, 160, 160) !important;
    border-radius: 50%;
    height: 8px !important;
    width: 8px !important;
}