@font-face {
    font-family: Imported;
    src: url(../font/Quicksand-VariableFont_wght.ttf);
}

html {
    padding: 2vh 8.6vw;
    font-family: Imported;
    width: 100vw;
}

.container {
    margin: 0 !important;
}

.parrafo {
    margin: 0.2rem 0 0 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.fila {
    display: flex;
    flex-direction: row;
}

/* Media queries */

/* MOBILE 320px — 480px*/
@media screen and (max-width: 480px) {  
    html {
        padding: 2vh 9vw !important;
    }
}

/* TABLET 481px — 768px */
@media screen and (max-width: 768px) {
    html {
        padding: 2vh 4vw;
    }
}

/* SMALL SCREENS 769px — 1024 LAPTOP*/ 
@media screen and (max-width: 1024px) {

}

/* DESKTOPS 1025px — 1200px */
@media screen and (max-width: 1200px) {
    
}

/* EXTRA LARGE SCREENS 1201px and more MONITOR*/ 
@media screen and (min-width: 1201px) {
}








