.productOptions {
    font-family: Imported;
    width: 25vw;
}

.brand {
    font-size: 0.8rem;
    color: silver;
    text-decoration: none;
}

#productInfo .vinculo {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: silver;
    text-decoration: none;
}

.optionSection {
    display: flex;
    align-items: center;
}

.optionSection .parrafo {
    color: #888;
    font-weight: bold;
    font-size: 0.8rem;
    margin-right: 15px;
}

.optionSection input {
    display: none;
}

/* PRODUCT COLOR OPTIONS */

.productColor .inputColor {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 7px;
    cursor: pointer;
    transition: 0.3s;
}

.productColor input:hover + .inputColora {
    transform: scale(0.8);
}

.productColor input:checked + .inputColor {
    transform: scale(0.8);
    box-shadow: 0 0 0 5px #fff, 0 0 0 6px #000;
}

input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}

.color-1 {
    background: red;
}

.color-2 {
    background: black;
}

.color-3 {
    background: white;
    border: 0.5px solid #b0b0b0;
}

.productColor {
    border-top: 1px solid rgb(234, 234, 234);
    border-bottom: 1px solid rgb(234, 234, 234);
    padding: 2vh 0;
}

/*PRODUCT SIZE OPTIONS */

.productSize {
    border-bottom: 1px solid rgb(234, 234, 234);
    padding: 2vh 0;

}

#inputTalla {
    color: #b5b5b5;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 5px 8px;
    margin-right: 10px;
    border: 2px solid #e0e0e0;
    display: inline-block;
    width:fit-content;
    text-align: center;
    cursor: pointer;
}

.productSize input:checked + #inputTalla {
    font-weight: 600;
    border: 2px solid #b0b0b0;
    color: #8a8a8a;
}

.productSize input:hover + #inputTalla {
    font-weight: 600;
    border: 2px solid #b0b0b0;
    color: #8a8a8a;
    transition: 0.3s;

}

/* PRODUCT AMOUNT */

.totalPrice {
    justify-content: space-between;
    border-bottom: 1px solid rgb(234, 234, 234);
    padding: 2vh 0 6vh 0;


}
.amountProducts .parrafo {
	background: none;
	border: none;
	cursor: pointer;
    margin: 0 1rem;
    font-size: 1rem;
    transition: 0.3s;
}

.amountProducts .parrafo:hover {
	color:rgb(92, 92, 92)
}

.amountProducts {
    border: 1px solid #E0E0E0;
    width:fit-content;
    height: fit-content;
    float: left;
    padding: 0.5vh 0;
}

.totalAmount {
    float: right;
}

#totalNumber {
    font-weight:bold;
    color:black;
    font-size: 2rem;
    margin-right: 0 !important;
}

.comparePrice {
    margin-left: 0 !important;
}
/* FORM SUBMIT BUTTONS */

.submitButtons {
    margin: 5vh 0 0 0;
    font-size: 1rem;
    padding: 0.7rem 0;
    font-weight: bold;
    font-family: Imported;
    border: none;
    cursor: pointer;
}

.favorite {
    background-color: #f0f0f0;
    transition: 0.3s;
}

.cart {
    background-color: black;
    color: white;
    transition: 0.3s;
}

.favorite:hover {
    background-color: #eaeaea;
}

.cart:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* PRODUCT DESCRIPTION */

.productDescription {
    color: rgb(169, 169, 169);
    font-size: 0.8rem;
    font-family: Imported;
    margin-top: 3vh;
    width: 25vw;
}

/* Media queries */

/* MOBILE 320px — 480px*/
@media screen and (max-width: 480px) {
    .productDescription {
        width: 80vw;
        margin: 0;
        margin-left: 0;
    }
    .productOptions {
        width: 100%;
    }
    #totalNumber{
        margin-left: 15px !important;
    }
    .totalAmount .vinculo {
        margin: 0 !important;
    }
    .submitButtons {
        width: 100%;
        margin: 0;
    } 
    .buttons {
        margin: 5vh 0 0.5vh 0 !important;
    }
    button {
        margin-bottom: 1.5vh !important;
    }
}

/* TABLET 481px — 768px */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .productOptions {
        width: 100%;
    }
    #totalNumber{
        margin-left: 15px !important;
    }
    .totalAmount .vinculo {
        margin: 0 !important;
    }
    .submitButtons {
        width: 100%;
        margin: 0;
    } 
    .buttons {
        margin: 5vh 0 0.5vh 0 !important;
    }
    button {
        margin-bottom: 1.5vh !important;
    }
    .productDescription {
        width: 45vw;
    }

}

/* SMALL SCREENS 769px — 1024 */
@media screen and (max-width: 1024px) {
}

/* DESKTOPS 1025px — 1200px */
@media screen and (max-width: 1200px) {
}

/* EXTRA LARGE SCREENS 1201px and more */
@media screen and (min-width: 1201px) {
}