.productDetails {
    font-family: Imported;
}

#productPrice {
    color: black;
    font-size: 1.2rem;
    margin-right: 0.5vw;
}

.comparePrice {
    margin-top: 0;
}

.price {
    margin-bottom: 3vh;
}

/* Media queries */

/* MOBILE 320px — 480px*/
@media screen and (max-width: 480px) {
    .parrafo {
        margin-bottom: 0 !important;
    }
    .price .parrafo {
        width: 20vw;
    }
    .price .vinculo {
        width: 60vw;
    }

    #productInfo {
        padding-left: 0vw !important;
        padding: 2vw 2vh;
        width: 85vw !important;
    }
    
}

/* TABLET 481px — 768px */
@media screen and (min-width: 481px) and (max-width: 768px) {
    #productInfo {
        padding-left: 0vw !important;
        width: 43vw;
    }
}

/* SMALL SCREENS 769px — 1024 */
@media screen and (max-width: 1024px) {
}

/* DESKTOPS 1025px — 1200px */
@media screen and (max-width: 1200px) {
}

/* EXTRA LARGE SCREENS 1201px and more */
@media screen and (min-width: 1201px) {
}



