@font-face {
    font-family: Imported;
    src: url(../font/Quicksand-VariableFont_wght.ttf);
}

#navElements .vinculo {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    font-family: Imported;
    font-size: 0.8rem;
    font-weight: bold;
    color: silver;
    text-decoration: none;
    transition: 0.3s;
}

#navegable:hover{
    color: black;
}
.navWrapper {
    margin-bottom: 3vh;
}
.currentProduct {
    color: black;
}

