#productInfo{
    padding: 0 !important;
}
/* Media queries */

/* MOBILE 320px — 480px*/
@media screen and (max-width: 480px) {
    #productInfo{
        padding: 0 !important;
    }
}

/* TABLET 481px — 768px */
@media screen and (max-width: 768px) {
}

/* SMALL SCREENS 769px — 1024 */
@media screen and (max-width: 1024px) {
}

/* DESKTOPS 1025px — 1200px */
@media screen and (max-width: 1200px) {
}

/* EXTRA LARGE SCREENS 1201px and more */
@media screen and (min-width: 1201px) {
}



