.envoltura.movil {
    display: none;
}
/* Media queries */
/* Mobile 320px — 480px*/
@media screen and (max-width: 480px) {
}

/* TABLET 481px — 768px */
@media screen and (max-width: 768px) {
    .envoltura.escritorio {
        display: none;
    }
    .envoltura.movil {
        display:block;
    }
    .movil {
        display: 10vw;
    }

    .container {
        padding: 0 !important;
    }
}

/* SMALL SCREENS 769px — 1024 */
@media screen and (max-width: 1024px) {
}

/* escritorioS 1025px — 1200px */
@media screen and (max-width: 1200px) {
}

/* EXTRA LARGE SCREENS 1201px and more */
@media screen and (min-width: 1201px) {
}